:root {
/* Hover Scale */

    --HoverScale: 1.025;

/* Transition Time */

    --TransitionTime: 0.25s;

/* Ease Type */

    --EaseType: cubic-bezier(0, 0.75, 0, 1.75);

}

/* ---- Hover Animations ---- */
/* Buttons */ .sizeSmall-3R2P2p:hover,
/* Settings List Items */ .side-1lrxIh .item-2GWPIy:hover,
/* Stage discovery */ .container-S9SaVf:hover,
/* Active now card */ .itemCard-3Etziu:hover,
/* Activity button */ .lookFilled-yCfaCM.colorGrey-2iAG-B:hover,
/* Friendlist */ .peopleListItem-u6dGxF:hover,
/* Direct Message List Items */ .channel-1Shao0:hover,
/* Member List Items */ .member-2gU6Ar:hover,
/* Context Menu Items */ .item-5ApiZt:hover:not([id="account-info"], [id="account-avatar"]),
/* Message Profile Pictures */ .avatar-2e8lTP.clickable-31pE3P:hover,
/* Topbar Items */ .toolbar-3_r2xA > .iconWrapper-2awDjA:hover > svg > path, .toolbar-3_r2xA > .inviteToolbar-2k2nqz > .iconWrapper-2awDjA:hover > svg > path, .toolbar-3_r2xA > a > .iconWrapper-2awDjA:hover > svg > path,
/* Server Channels */ .link-1_kTxV:hover,
/* Nitro Tab Feature Cards */ .feature-2IUcBI:hover,
/* Quick Switcher List Items */ .resultFocused-3aIoYe:hover,
/* Quick Switcher Search Box */ .input-3r5zZY:hover,
/* Sidebar in Discover */ .categoryItem-Kc_HK_:hover,
/* Discovery Tab List Items */ .categoryItem-3zFJns:hover,
/* Discovery Tab Cards */ .card-2TuZPZ:hover,
/* Message Options */ .button-3bklZh:hover > svg > path,
/* Gift Nitro */ .giftAction-yhDLaW:hover,
/* Call users */ .listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42,
/* User bar */ .panels-3wFtMD .button-12Fmur:hover path,
/* Activity Button */ .activity-1gTu-L [type="button"]:hover, .userProfileActivity-sal5no [type="button"]:hover, .activity-E0U09Y [type="button"]:hover
{
    transform-origin: center;
    transform: scale(var(--HoverScale));
    box-shadow: var(--elevation-high);
}

/* ---- Static Animations ---- */
/* Buttons */ .sizeSmall-3R2P2p,
/* Settings List Items */ .side-1lrxIh .item-2GWPIy,
/* Stage discovery */ .container-S9SaVf,
/* Active now card */ .itemCard-3Etziu,
/* Activity button */ .lookFilled-yCfaCM.colorGrey-2iAG-B,
/* Friendlist */ .peopleListItem-u6dGxF,
/* Direct Message List Items */ .channel-1Shao0,
/* Member List Items */ .member-2gU6Ar,
/* Context Menu Items */ .item-5ApiZt:not([id="account-info"], [id="account-avatar"]),
/* Message Profile Pictures */ .avatar-2e8lTP.clickable-31pE3P,
/* Topbar Items */ .toolbar-3_r2xA > .iconWrapper-2awDjA > svg > path, .toolbar-3_r2xA > .inviteToolbar-2k2nqz > .iconWrapper-2awDjA > svg > path, .toolbar-3_r2xA > a > .iconWrapper-2awDjA > svg > path,
/* Server Channels */ .link-1_kTxV,
/* Nitro Tab Feature Cards */ .feature-2IUcBI,
/* Quick Switcher List Items */ .resultFocused-3aIoYe,
/* Quick Switcher Search Box */ .input-3r5zZY,
/* Sidebar in Discover */ .categoryItem-Kc_HK_,
/* Discovery Tab List Items */ .categoryItem-3zFJns,
/* Discovery Tab Cards */ .card-2TuZPZ,
/* Message Options */ .button-3bklZh > svg > path,
/* Gift Nitro */ .giftAction-yhDLaW,
/* Call users */ .content-1Tgc42,
/* User bar */ .panels-3wFtMD .button-12Fmur path,
/* Activity Button */ .activity-1gTu-L [type="button"], .userProfileActivity-sal5no [type="button"], .activity-E0U09Y [type="button"]
{
    transition: var(--EaseType) var(--TransitionTime);
    box-shadow: none;
}

/* ---- When Active ---- */
/* Friend list */ .peopleListItem-u6dGxF.active-2UF8Zh,
/* Active now */ .outer-2JOHae.active-1W_Gl9,
/* Memberlist */ .member-2gU6Ar.container-1oeRFJ.selected-1-Z6gm
{
    transform-origin: center;
    transform: scale(var(--HoverScale));
    box-shadow: var(--elevation-high);
}

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}

.bg-1QIAus,
.container-2RRFHK {
  background-color: var(--darkplus-bg);
}
.bg-1QIAus {
  background-color: var(--darkplus-bg);
}
.scrollerInner-2PPAp2 {
  background-color: var(--darkplus-bg);
}
.container-ZMc96U.themed-Hp1KC_ {
  background: var(--darkplus-bg);
}
.content-2a4AW9 {
  background-color: var(--darkplus-bg);
}

.searchBar-3TnChZ {
  background-color: var(--darkplus-bg);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--darkplus-bg2);
  border-radius: 20px;
}
.scroller-WSmht3.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
  background-color: var(--darkplus-bg);
}
.panel-2ZFCRb.activityPanel-9icbyU {
  background-color: var(--darkplus-bg);
}
.container-YkUktl {
  background-color: var(--darkplus-bg);
}
.form-3gdLxP {
  background-color: var(--darkplus-bg);
}
.form-3gdLxP .channelTextArea-1FufC0 .textArea-2CLwUE .placeholder-1_mJY1 {
  color: var(--darkplus-sec);
}
.form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h {
  max-height: 45vh;
  background-color: var(--darkplus-bg2);
  border-radius: 22px;
}
.form-3gdLxP .channelTextArea-1FufC0 {
  background-color: transparent;
}
.form-3gdLxP:before {
  display: none;
}
.scroller-kQBbkU {
  background-color: var(--darkplus-bg);
}
.peopleList-2VBrVI.auto-2K3UW5.scrollerBase-_bVAAt {
  background-color: var(--darkplus-bg);
}
.children-3xh0VB:after {
  display: none;
}
.nowPlayingSidebar-2OFn0o {
  min-width: 300px;
  max-width: 300px;
}
.customStatusActivity-WKWGD- {
  background-color: var(--darkplus-bg);
}
.nameTagWithCustomStatus-5c-v3-.nameTag-2Nlmsy.nameTag-H6kSJ0 {
  background-color: var(--darkplus-bg);
}

.topSection-13QKHs {
  background-color: var(--darkplus-bg);
}
.container-1oAagU {
  background-color: var(--darkplus-bg);
}
.container-1oAagU .scroller-hE2gWq {
  margin-left: 0;
  border-left: none;
}

.wrapper-2RrXDg {
  background-color: var(--darkplus-sec);
  border: none;
}
.wrapper-2RrXDg:hover,
.wrapper-2RrXDg.active-1W_Gl9 {
  background-color: var(--darkplus-links) !important;
}
.wrapper-2RrXDg .inset-SbsSFp {
  background-color: var(--darkplus-bg);
}
.wrapper-2RrXDg .section-3G9aLW {
  background-color: var(--darkplus-links);
}
.header-3OsQeK {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.mention-3XBnnZ {
  background-color: var(--darkplus-sec);
}
.mentioned-Tre-dv {
  background-color: rgba(var(--darkplus-sec), 0.1) !important;
}
.mentioned-Tre-dv:before {
  background-color: var(--darkplus-sec);
}
.mentioned-Tre-dv:hover {
  background-color: rgba(var(--darkplus-sec), 0.2) !important;
}

.iconBadge-3Mmg92 {
  background-color: var(--darkplus-sec);
}
.container-YkUktl .button-12Fmur:nth-child(1) .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}

.container-YkUktl .button-12Fmur:nth-child(2) .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}

.container-YkUktl .button-12Fmur:nth-child(3) .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}

.container-YkUktl .button-12Fmur:nth-child(4) .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}
.sprite-2lxwfc {
  filter: hue-rotate(var(--darkplus-emoji-picker-color)) !important;
}
.attachButton-_ACFSu .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}
.attachButton-_ACFSu:hover .attachButtonPlus-3IYelE {
  fill: var(--darkplus-links);
}
.button-f2h6uQ .contents-3ca1mk path {
  color: var(--darkplus-sec);
}

.button-3bklZh path {
  fill: var(--darkplus-sec);
}

.item-1OdjEX path {
  fill: var(--darkplus-sec);
}

.iconWrapper-2awDjA path {
  color: var(--darkplus-sec);
}

.linkButtonIcon-7rsZcu path {
  color: var(--darkplus-sec);
}

.actionButton-3-B2x- path {
  color: var(--darkplus-sec);
}
.buttonIcon-2Zsrs2 path {
  fill: var(--darkplus-sec);
}

.icon-18rqoe path {
  fill: var(--darkplus-sec);
}

.actionIcon-2sw4Sl path {
  fill: var(--darkplus-sec);
}
.wrapper-NhbLHG.modeUnread-3Cxepe
  .content-1gYQeQ
  .mainContent-20q_Hp
  .icon-2W8DHg {
  color: var(--darkplus-links);
}
.wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .icon-2W8DHg {
  color: var(--darkplus-sec);
}

/*home icon hover effect*/
  .homeIcon-r0w4ny > path {
    d: path(
      "M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z"
    );
    transform: scale(1.1) translate(-1.5px, -1px);
    transition: all 0.2s ease-in-out;
  }
  
  .wrapper-3kah-n.selected-1Drb7Z:has([d^="M23.0212"]) .homeIcon-r0w4ny path {
    fill: #2b7cf6;
  }
  
  .wrapper-3kah-n.selected-1Drb7Z:has([d^="M23.0212"]) .childWrapper-1j_1ub {
    background: var(--background-primary) !important;
  }
  
  .wrapper-3kah-n.selected-1Drb7Z:has([d^="M23.0212"])
    .childWrapper-1j_1ub::after {
    background-color: #2b7cf6;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    filter: blur(10px);
    opacity: 0.4;
  }
  
/* emojis reacts glow when you react */
.reactionMe-1PwQAc {
   box-shadow: 0px 0px 6px rgb(0, 89, 255),  0px 0px 50px rgb(0, 153, 255);
   filter: saturate(1.5), blur(0.3px);
}

[class^=menu-],[class^=submenu-] {
  background: none;
}
[class^=submenu-] {
  margin: 0 -8px;
}
.theme-dark [class^=menu-]::after,.theme-dark [class^=submenu-]::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 5px;
  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.theme-light [class^=menu-]::after,.theme-light [class^=submenu-]::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
[class^=backdrop-] ~ .theme-light[class*=layer-]>[class^=menu-] {
  background: rgba(245, 245, 245, 0.7);
}
[class^=backdrop-] ~ .theme-dark[class*=layer-]>[class^=menu-] {
  background: rgba(10, 10, 10, 0.7);
}
[class^=backdrop-] ~ [class*=layer-]>[class^=menu-]::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.section-3FmfOT, .divider-1tWBgZ, .scroller-1jBQYo {
  z-index: 2;
}
